h1 {
    color: red;
    font-weight: 900;
    font-size: 50px;
}

h5 {
    font-weight: bold;
    font-size: 25px;
}

.row {
    padding-bottom: 5em;
}
.card {
    border-color: black;
    border-width: 4px;
    box-shadow: 0 2px 30px 0 rgba(41, 40, 40, 0.671);
    margin-left: 1em;

}

.btn-primary{
    background-color: black;
    color: white;
}
.card-img-top {
    border-color: rgba(0, 0, 0, 0.281);
    border-width: 35em;
}

/* .portfolio {
    background-color: black;
} */

