h1 {
    color: red;
    font-weight: 900;
    font-size: 50px;
}

h5 {
    font-weight: bold;
    font-size: 20px;
}

.row {
    padding-bottom: 5em;
}
.card {
    border-color: black;
    border-width: 4px;
    box-shadow: 0 2px 30px 0 rgba(41, 40, 40, 0.671);
    margin-left: 1em;

}

.btn-primary{
    background-color: black;
    color: white;
}
img.card-img-top {
    border-color: black;
    border-width: 5px;
}

.profile-links {
    color: red;
    font-weight: bolder;
}

.card-text {
    color: black
}
/* .portfolio {
    background-color: black;
} */

